{% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb', breadcrumb_top: true %}
{% endif %}
<div class="page page-productDetail">
    <div class="container123">
        {% section 'product-template' %}

      {% comment %}
        <div class="product-tab-container">
            <div class="product-tab__item">
                {% section 'product-tab-horizontal' %}
            </div>
            <div class="product-tab__item">
                {% section 'product-add-more' %}
            </div>
        </div>
      {% endcomment %}
    </div>

    {% section 'product-how-it-works' %}

  	{% comment %}
    <div class="container">
        {% section 'product-recommendations' %}

        {% section 'recently-viewed-products' %}
    </div>
   {% endcomment %}
  
  	{% section 'beauty-framed' %}
  	{% section 'image-with-text-apollo' %}
  {% section 'what-box' %}
<!-- 	{% section 'main-features' %} -->
  
  	{% comment %}
    <div class="section_change">
      {% section 'made_sec' %}
      {% section 'image-with-text-pro' %}
    </div>
  	{% endcomment %}
  	{% section 'faq-product' %}
  	{% section 'product-gallery' %}
    {% section 'product-why-choose-us' %}

  	
  
    <div class="container">
        <div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default"></div>
    </div>
</div>
{% if settings.enable_ask_an_expert %}
    {% render 'ask-an-expert-popup' %}
{% endif %}

{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %}