<div id="{{section.id}}" class="shopify-section">
  <div class="page-width">
  <h1>{{section.settings.title}}</h1>
<div class="apollo-box-main">    
 {% for block in section.blocks %}
  <div class="apollo-box-block-content">
    <img src="{{block.settings.image |img_url:''}}">
{{block.settings.content}}
  </div>{%endfor%}
    </div></div>
</div>
{% schema %}
  {
    "name": "what box section",
    "settings": [
{
"type":"text",
"id":"title",
"label":"Heading"
}
],

"blocks": [
{
"type": "box-section",
"name": "blocks",
"settings": [
{
"type":"image_picker",
"id":"image",
"label":"Image"
},
{
"id": "content",
"type": "text",
"label": "content"
}

]
}
]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
