{% comment %}
    The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-hero' %}

{% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb', breadcrumb_top: true %}
{% endif %}

<div class="container ">
    <div class="page page-collection">
        {% section 'sidebar-collection' %}
        {% section 'collection-template' %}
    </div>
	{% section 'recently-viewed-products' %}
</div>


{% section 'collection-banner' %}

{% section 'collection-quotes' %}

{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %}
