{% comment %}
    The contents of the lists-collections.liquid template can be found in /sections/lists-collections-template.liquid
{% endcomment %}

{% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb', breadcrumb_top: true %}
{% endif %}

<div class="container">
    <div class="page page-collectionList">
        {% section 'collections-template' %}

        {% section 'collections-products' %}
    </div>
</div>

{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %}