{% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb', breadcrumb_top: true %}
{% endif %}
<div class="page page-choose-your-art">
    {% section 'choose-your-art-template' %}
</div>
{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %}