{% if settings.breadcrumb_layout == 'top' %}
    {% render 'breadcrumb', breadcrumb_top: true %}
{% endif %}
<div class="container custom-contact-template">
  {%section 'custom-contact' %}
</div>
{% if settings.breadcrumb_layout == 'bottom' %}
    {% render 'breadcrumb' %}
{% endif %}
